    /**
    * {{&summary}}
    * @method
    * @name {{&className}}#{{&methodName}}
    * @param {object} parameters - method options and parameters
    {{#parameters}}
        {{^isSingleton}} * @param {{=<% %>=}}{<%&type%>}<%={{ }}=%> parameters.{{&camelCaseName}} - {{&description}}{{/isSingleton}}
    {{/parameters}}
    * @param {object} signal - signal from AbortController to cancel fetch request
    {{#methodTsType}}* @return {{=<% %>=}}{Promise.<<%target%><%^target%>Response<%/target%>>}<%={{ }}=%>{{/methodTsType}}
    */
    {{&methodName}}(parameters, signal){
        if(parameters === undefined) {
            parameters = {};
        }
        let domain = this.domain,  path = '{{&path}}';
        let body = {}, queryParameters = {}, headers = {};
        {{#isFormParameter}}
        let form = {};
        {{/isFormParameter}}

        {{#headers}}
            headers['{{&name}}'] = [{{&value}}];
        {{/headers}}

        {{#parameters}}
            {{#isQueryParameter}}
                {{#isSingleton}}
                    queryParameters['{{&name}}'] = '{{&singleton}}';
                {{/isSingleton}}
                {{^isSingleton}}
                    {{#isPatternType}}
                        Object.keys(parameters).forEach(function(parameterName) {
                            if(new RegExp('{{&pattern}}').test(parameterName)){
                                queryParameters[parameterName] = parameters[parameterName];
                            }
                        });
                    {{/isPatternType}}
                    {{#default}}
                        /** set default value **/
                        queryParameters['{{&name}}'] = {{&default}};
                    {{/default}}

                    {{^isPatternType}}
                    if(parameters['{{&camelCaseName}}'] !== undefined){
                        queryParameters['{{&name}}'] = parameters['{{&camelCaseName}}'];
                    }
                    {{/isPatternType}}
                {{/isSingleton}}
            {{/isQueryParameter}}

            {{#isPathParameter}}
                path = path.replace('{{=<% %>=}}{<%&name%>}<%={{ }}=%>', parameters['{{&camelCaseName}}']);
            {{/isPathParameter}}

            {{#isHeaderParameter}}
                {{#isSingleton}}
                    headers['{{&name}}'] = '{{&singleton}}';
                {{/isSingleton}}
                {{^isSingleton}}
                    if(parameters['{{&camelCaseName}}'] !== undefined){
                        headers['{{&name}}'] = parameters['{{&camelCaseName}}'];
                    }
                {{/isSingleton}}
            {{/isHeaderParameter}}

            {{#isBodyParameter}}
                if(parameters['{{&camelCaseName}}'] !== undefined){
                    body = parameters['{{&camelCaseName}}'];
                }
            {{/isBodyParameter}}

            {{#isFormParameter}}
                {{#isSingleton}}
                    form['{{&name}}'] = '{{&singleton}}';
                {{/isSingleton}}
                {{^isSingleton}}
                    if(parameters['{{&camelCaseName}}'] !== undefined){
                        form['{{&name}}'] = parameters['{{&camelCaseName}}'];
                    }
                {{/isSingleton}}
            {{/isFormParameter}}

            {{#required}}
            if(parameters['{{&camelCaseName}}'] === undefined){
                return Promise.reject(new Error('Missing required {{&paramType}} parameter: {{&camelCaseName}}'));
            }
            {{/required}}

        {{/parameters}}
        queryParameters = mergeQueryParams(parameters, queryParameters);

        return this.request(
            '{{method}}',
            domain + path,
            parameters,
            body,
            headers,
            queryParameters,
            signal
        );
    }
