{{#tsType}}{{! must use different delimiters to avoid ambiguities when delimiters directly follow a literal brace {. }}{{=<%
%>=}}<%#isRef%><%target%><%/isRef%><%!
%><%#isAtomic%><%&tsType%><%/isAtomic%><%!
%><%#isObject%><%#properties%>
* @property {<%>type%>} <%#optional%>[<%/optional%><%name%><%#optional%>]<%/optional%> - <%description%><%/properties%><%/isObject%><%!
%><%#isArray%>Array<<%#elementType%><%>type%><%/elementType%>>|<%#elementType%><%>type%><%/elementType%><%/isArray%><%={{ }}=%>{{/tsType}}