<script lang="ts">
  import { onMount } from "svelte"
  import * as BanubaSDK from "/public/sdk/BanubaSDK"
  import Video from "./Video.svelte"
  import * as api from "./api"

  const btn = {
    label: "Join the meeting",
    disabled: false,
  }

  let user
  let videos = []
  let player

  onMount(() => {
    player = BanubaSDK.Player.create({
      locateFile: "sdk",
      clientToken: "tAwDbgss/zJEqpKKM8RMyDRKfEC8pkAjGbiOTzWJyEDHsVrP50Y9ciaCArKSGeZysOANaATaeYsLQnvLB0X5V6QukZ7Ha/WTV44weLeBzHMR0rMRfn60iDminhfGlOK5B0HtMqFZuZkH2V/BXSMbOQ6o2E1STv1Il8i8z8yO5hB2emAtGnb/KxPOKl2RF6MzS4hx",
      enableMirroring: false,
    })

    btn.disabled = true
    api.login()
      .then((r) => {
        user = r.user
        console.log("LOGGED IN:", r)
        btn.disabled = false
      })
  })

  async function joinMeeting() {
    btn.label = 'Joining...'
    btn.disabled = true

    const displayName = `${user.first_name} ${user.last_name}`

    try {
      const settings = await api.joinMeeting({
        bridgeId: "505754158127",
        displayName,
      })
      console.log("JOINED MEETING:", settings)

      const onStream = async (type, operation, stream, ...args) => {
        if (stream.id === "mix-stream") return
        
        console.log(`${type} stream ${operation}`.toUpperCase(), stream, ...args)

        switch (operation) {
          case "added": {
            const video = {
              type,
              stream,
            }
            videos = video.type === "local" ? [video, ...videos] : [...videos, video]
            break;
          }
          case "removed": {
            videos = videos.filter(v => v.stream.id !== stream.id)
            break;
          }
          default: {
            console.log("unknown operation: ", operation)
          }
        }
      }

      await api.startStreaming({
        ...settings,
        getStream: async () => {
          const stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: true })
          const p = await player
          p.use(new BanubaSDK.MediaStream(stream))
          p.play()
          return new BanubaSDK.MediaStreamCapture(p)
        },
        onLocalStream: (...args) => onStream("local", ...args),
        onRemoteStream: (...args) => onStream("remote", ...args),
    })

      btn.label = `Joined as ${displayName}`
    } catch (e) {
      btn.label = 'Failed to joing. Check console'
      console.error(e)
    }

    btn.disabled = false
  }

  async function applyEffect() {
    const p = await player
    p.applyEffect(new BanubaSDK.Effect("sdk/Hipster3.zip"))
  }
</script>

<button on:click={joinMeeting} disabled={btn.disabled}>{btn.label}</button>
<button on:click={applyEffect}>Apply AR Effect</button>
<main>
  {#each videos as video (video.stream.id)}
    <Video
      stream={video.stream}
      horizontalFlip={video.type === "local"}
      muted={video.type === "local"}  
    />
  {/each}
</main>

<style>
  main { margin-top: 0.5rem; }
  button { min-width: 10rem; }
</style>
