<script>
  let video

  export let stream
  export let muted = false
  export let horizontalFlip = false

  $: video && (video.srcObject = stream)
</script>

<video
  bind:this={video}
  class:flip={horizontalFlip}
  {muted}
  autoplay
  playsinline
></video>

<style>
  video {
    display: inline-block;
    max-width: 20rem;
    margin: 0.25rem;
  }

  .flip {
    transform: scaleX(-1);
  }
</style>